<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/register-css.css}">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/register.js"></script>
</head>
<body>
<section class="vh-100 bg-image" style="background-image: url('../static/img/register_background.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create your profile</h2>

                            <form method="POST" action="/register">

                                <div class="form-outline mb-4">
                                    <input th:required="required" type="text" id="username" name="username" class="form-control form-control-lg" />
                                    <label class="form-label" for="username">Username</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input th:required="required" type="email" id="email" name="email" class="form-control form-control-lg" />
                                    <label class="form-label" for="email">Email</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input th:required="required" type="text" id="name" name="name" class="form-control form-control-lg" />
                                    <label class="form-label" for="name">Name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input th:required="required" type="text" id="surname" name="surname" class="form-control form-control-lg" />
                                    <label class="form-label" for="surname">Surname</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input th:required="required" type="password" id="password" name="password" class="form-control form-control-lg" />
                                    <label class="form-label" for="password">Password</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input th:required="required" type="password" id="cPassword" class="form-control form-control-lg" onfocusout="proverka()"/>
                                    <label class="form-label" for="cPassword">Confirm password</label>
                                </div>

                                <a href="/home">
                                    <p style="width: 150px; width: 50px; text-align: center">Back</p>
                                </a>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" value="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="width: 150px">Register</button>
                                </div>
                                <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="/login" class="fw-bold text-body"><u>Login here!</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>